<html>
<head>
  <title>xmas 3square ;)</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
    <script src="js/game.js"></script>
  <script src="js/app.js"></script>
  <script src="js/gameController.js"></script>
</head>
<body ng-app="xmas">
  <div ng-controller="GameController as ctrl">
    <div class="player-left">
      <div class="player-info-container">
        <img class="hidden-xs" src="img/red-santa.png" />
        <h3 class="player-info-name">Player One</h3>
        <h3>Crosses</h3>
        <p class="player-info-score">Wins: {{ ctrl.game.players[0].wins }}</p>
        <h3 ng-show="ctrl.game.currentPlayerTurnIndex == 0"
            class="player-info-turn-text">Your turn!</h3>
      </div>
      <div class="player-buttons-and-decor">
        <a  ng-click="ctrl.game.resetBoard()"
            class="btn btn-warning" href="#">Reset board</a>
      </div>
    </div>
    <div class="container board">
      <div class="row board-row" ng-repeat="row in ctrl.game.board">
        <div  class="col-xs-4 tile align-content-center"
              ng-repeat="tile in row.tiles"
              ng-click="ctrl.game.makeMove($parent.$index, $index)">
          <span ng-show="tile.checkedID === 0" class="tile-cross">X</span>
          <span ng-show="tile.checkedID === 1" class="tile-nought">O</span>
        </div>
      </div>
    </div>
    <div class="player-right">
      <div class="player-info-container">
        <img class="hidden-xs" src="img/green-santa.png" />
        <h3 class="player-info-name">Player Two</h3>
        <h3>Noughts</h3>
        <p class="player-info-score">Wins: {{ ctrl.game.players[1].wins }}</p>
        <h3 ng-show="ctrl.game.currentPlayerTurnIndex == 1"
            class="player-info-turn-text">Your turn!</h3>
      </div>
      <div class="player-buttons-and-decor">
        <a  ng-click="ctrl.game.resetScore()"
            class="btn btn-warning" href="#">Reset score</a>
        <a class="btn btn-warning" href="#">View on github</a>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <img class="spinning" src="img/red-santa.png" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Ok, merry xmas</button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/animationTriggers.js"></script>
</body>
</html>